<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- this settings file is injected into the docker build image in order to be able to deploy to nexus -->

    <!--localRepository>/usr/share/maven/ref/repository</localRepository-->
    <interactiveMode/>
    <usePluginRegistry/>
    <offline/>
    <pluginGroups/>
    <servers>
        <server>
            <id>InternalReleases</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>InternalSnapshots</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <url>http://nexus.uk.novamedia.com:8081/nexus/content/groups/public</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <proxies/>
    <profiles>
        <profile>
            <id>repolist</id>
            <repositories>
                <!-- unlike the repos listed in settings which should be in reverse order, these ones are in the order they should be checked -->
                <repository>
                    <id>central</id>
                    <name>Maven Repository Switchboard</name>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>InternalReleases</id>
                    <name>Internal Releases</name>
                    <url>http://nexus.uk.novamedia.com:8081/nexus/content/repositories/releases/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>InternalSnapshots</id>
                    <name>Internal Snapshots</name>
                    <url>http://nexus.uk.novamedia.com:8081/nexus/content/repositories/snapshots/</url>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>repolist</activeProfile>
    </activeProfiles>

</settings>
    
